In [ ]:
from kedro.config import OmegaConfigLoader

loader = OmegaConfigLoader(conf_source="conf/base")
params = loader["parameters"]
print(params["Control_date"]["centaline_estates"])  # Should output "2025-04-09"

In [ ]:
# Change CSV to Parquet

import pandas as pd

def csv_to_parquet(csv_file_path, parquet_file_path):
    try:
        # Read the CSV file into a DataFrame
        df = pd.read_csv(csv_file_path)
        
        # Write the DataFrame to a Parquet file
        df.to_parquet(parquet_file_path, index=False)
        
        print(f"Successfully converted {csv_file_path} to {parquet_file_path}")
    except Exception as e:
        print(f"An error occurred: {e}")

# Example usage
csv_file_path = '2025-04-02_centanet_estates.csv'
parquet_file_path = 'estate_listings.parquet'

# Ensure pandas is installed
# pip install pandas

csv_to_parquet(csv_file_path, parquet_file_path)

Successfully converted 2025-04-02_centanet_estates_scraped.csv to estate_details_raw.parquet

In [13]:
import pandas as pd

parquet_file_path = 'data/02_intermediate/centaline_estate_lv_1.parquet'
pq_file = pd.read_parquet(parquet_file_path)

pq_file[pq_file['Name']=='']

Empty DataFrame
Columns: [Name, Address, Blocks, Units, UnitRate, MoM, ForSale, ForRent, Link, Region, District, Subdistrict, Code, LastScraped]
Index: []

In [14]:
import pandas as pd

pq_1_path = 'data/02_intermediate/centaline_estate_lv_1.parquet'
pq_2_path = 'data/02_intermediate/centaline_estate_lv_2.parquet'

pq_1 = pd.read_parquet(pq_1_path)
pq_2 = pd.read_parquet(pq_2_path)

filtered_pq_2 = pq_2[~pq_2['Name'].isin(pq_1['Name'])]

filtered_pq_2_v2 = filtered_pq_2[filtered_pq_2['Name'].notnull()]
filtered_pq_2_v2

,Name,Address,Blocks,Units,Unit Rate,MoM,Trans Record,For Sale,For Rent,Estate Link,...,School Net Info,Estate Detailed Address,Developer,scraped_estate_name,occupation_permit,scraped_blocks,school_net_info,estate_detailed_address,developer,Link
3424,Happy Vally 88,42 Blue Pool Road,1,48,--,--,--,--,--,https://hk.centanet.com/estate/en/Happy-Vally-...,...,Primary: 12 | Secondary: Wan Chai District,42 Blue Pool Road,None,None,None,None,None,None,None,None

In [16]:
# Grouping by 'Code' and calculating row count
row_count_by_code_1 = pq_file.groupby(['Subdistrict', 'Code']).size().reset_index(name='Row Count')
row_count_by_code_2 = pq_file.groupby(['Code']).size().reset_index(name='Row Count')


# Displaying the result HMA151
print(row_count_by_code_1[row_count_by_code_1['Code']=='HMA111'])
print(row_count_by_code_2[row_count_by_code_2['Code']=='HMA111'])

     Subdistrict    Code  Row Count
39  Kennedy Town  HMA111        199
       Code  Row Count
100  HMA111        199